<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div *ngIf="cliente">
	<h2>{{cliente.contact}} details</h2>
	<div><span>id: </span>{{cliente.salary}}</div>
	<div><span>name: </span>{{cliente.title}}</div>
</div>
<div class="ui-g" style="width:250px;margin-bottom:10px">
	<div class="ui-g" style="width:250px;margin-bottom:10px"><p-checkbox name="groupname" value="pulin" label="pulin" [(ngModel)]="selectedValues" inputId="pu"></p-checkbox></div>
	<div class="ui-g" style="width:250px;margin-bottom:10px"><p-checkbox name="groupname" value="halline" label='halline' [(ngModel)]="selectedValues" inputId="ha" ></p-checkbox></div>
	<div class="ui-g" style="width:250px;margin-bottom:10px"><p-checkbox name="groupname" value="heitor" label="heitor" [(ngModel)]="selectedValues" inputId="he" ></p-checkbox></div>
	<div class="ui-g" style="width:250px;margin-bottom:10px"><p-checkbox name="groupname" value="spock" label='spock' [(ngModel)]="selectedValues" inputId="sp"></p-checkbox></div>
</div>
Nomes selecionados: <span *ngFor="let nome of selectedValues" style="margin-right:10px">{{nome}}</span>
<h3 class="first">Addons</h3>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" [(ngModel)]="vicente" pInputText placeholder="Username"><span>    </span>   
            <span id="text">{{vicente}}</span>      
        </div>
    </div>
    <div>
    	

    </div>
    
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">$</span>
            <input type="text" pInputText placeholder="Price">   
            <span class="ui-inputgroup-addon">.00</span>      
        </div>
    </div>
            
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">www</span>
            <input type="text" pInputText placeholder="Website">      
        </div>
    </div>
</div>
